<h1>error</h1>
<div>Oh, seems like we have some problems :(</div>
<div>Please, take a look at some frequent problems</div>
<ul>
  <li>1. forgot to run REST</li>
  <li>2. forgot to run UI</li>
  <li>3. incorrect router</li>
</ul>
